<%- include('include/_header') %>


<% users.forEach((doc) => { %>

    <!-- ***** Features Small Item Start ***** -->
    <div class = "col-lg-4 col-md-6 col-sm-6 col-12"
         data-scroll-reveal = "enter bottom move 50px over 0.6s after 0.2s">
        <div class = "features-small-item">
            <div class = "icon">
                <i><img src = "images/featured-item-01.png"
                        alt = ""></i>
            </div>
            <h5 class = "features-title"><%= doc.data()['name']%></h5>
            <p><%= doc.data()['date']%></p>
            <p><%= doc.data()['phone']%></p>
            <p><%= doc.data()['message']%></p>
        </div>
    </div>
    <!-- ***** Features Small Item End ***** -->
<% }); %>

<%- include('include/_footer') %>